<app-template
  title="Thanos' Snap effect"
  [displayCanvas]="false"
>
  <div class="content">
    <iframe class="video-iframe" width="560" height="315"
            src="https://www.youtube.com/embed/sZsFllMNga0"
            allow="accelerometer; autoplay;
          encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    <p>
      We all remember the time that gave us a heart-wrench, the time
      when we all thought if it was really happening. The moment when
      <em>Thanos</em> snapped his fingers to wipe out half of the entire
      universe. For a while, I almost thought that that was it, the people
      who were wiped out were really gone.
    </p>
    <p>
      But, the <strong><em>Avengers</em></strong> somehow managed to bring
      everything back to normal. And we all love them for that.
    </p>
    <p>
      So, just for fun sake, I thought of animating the <em>Snap effect</em>.
      This is, however, the utterly simplest version of the effect that was
      shown in the movie. It is truly fascinating that such great animators and
      graphic programmers exists to create such wonderful effects. I hope that
      one day, I am capable of replicating such effects or creating my own.
    </p>
  </div>
</app-template>
